:root {
    --main-accent: #FED136;
    --project-black: #222;
    --main-text: #777;
    --project-white: #FFF;
    --placeholder: #BBB;
}
.container {
    width: 972px;
    padding: 0px 15px;
    outline: 2px solid red;
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
    color:var(--main-text);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
ul, p, h2, h4 {
    margin: 0;
    padding: 0;
}
.header {
    padding-top: 44px;
    padding-bottom: 91px;
}
.logo {
    font-family: 'Bilbo Swash Caps', serif;
    font-size:36px;
    line-height: 1.14;
    color: var(--main-accent);
    letter-spacing: 1.3px;
}
.nav-list_link {
    color: var(--main-accent);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.main .container {
    padding-bottom: 119px;
    outline: 2px dotted blue;
}
.main-title {
    color:var(--project-black);
    font-size: 40px;
    line-height: 1.87;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.main-list_title {
    color:var(--project-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 4.17;
    text-align: center;
}
.main-list_text {
    color:var(--main-text);
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-align: center;
}
.footer .container {
    padding-top: 92px;
    padding-bottom: 115px;
    outline: 2px double deeppink;
}
.footer {
    background-color: var(--project-black);

}

.footer-title {
    color:var(--project-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}
.form-input {
    width: 455px;
    height: 50px;
}
.form-input, .form-comment {
    color:var(--placeholder);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-comment {
    width: 458px;
    height: 212px;
    resize: none;
}
.form-btn-submit {
    height:68px;
    width:242px;
    background-color:var(--main-accent);
    color:var(--project-white);
    font-family: 'Monsterrat', solid;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border:none;
}