.footer {
  background-color: getColor("project-black");
  .container {
    padding-top: 92px;
    padding-bottom: 115px;
  }
  &__title {
    color: getColor("project-white");
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 114px;
  }

}
