.footer-inputs {
  display: flex;
  flex-direction: column;
  height: 214px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  gap: 28px;
  margin-bottom: 27px;
  .form-input,
  .form-comment {
    color: getColor("place-holder");
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .form-input {
    width: 455px;
    height: 50px;
    padding: 13px 21px 23px;
  }
  .form-comment {
    width: 458px;
    height: 212px;
    resize: none;
    padding: 14px 22px;
  }
}
.form-btn__submit {
  height: 68px;
  width: 242px;
  background-color: getColor("main-accent");
  color: getColor("project-white");
  font-family: "Monsterrat", solid;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  display: block;
  margin: 0 auto;
}
