.header {
  padding-top: 44px;
  padding-bottom: 91px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: "Bilbo Swash Caps", serif;
  font-size: 36px;
  line-height: 1.14;
  color: getColor("main-accent");
  letter-spacing: 1.3px;
}

.nav-list {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  &__link {
    color: getColor("main-accent");
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}