.container {
    width: 972px;
    padding: 0px 15px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
    color: getColor("main-text");
}
